html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
}

p {
  font-family: Abhaya Libre, Arial, sans-serif;
}

.image-container {
  position: relative;
  display: block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.apartment-view {
  width: 100%;
  margin-bottom: 20px;
}


.nest-finder-overlaid {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(0, 0, 0, 0); 
  color: #fff; 
  padding: 10px 20px;
  font-family: Jersey, sans-serif;
  font-size: px; 
  font-weight: bold;
  text-align: center;
}

.intro-container {
  margin-top: 100px;
}


.sub-title {
  font-size: 30px;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.join-buttons {
  width: 730px;
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
}

.join-button {
  border-radius: 30px;
  font-size: 24px;
  height: 60px;
  cursor: pointer;
}

#sign-up {
  background-image: linear-gradient(to right, #8AE7A9, #63BBA9);
  border-style: none;
  color: white;
  transition: opacity 0.15s;
  margin-right: 20px;
  width: 350px;
}

#sign-up:hover {
  opacity: 0.8;
}

#sign-up:active {
  opacity: 0.6;
}

#log-in {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
  transition: background-color 0.15s,
  color 0.15s,
  opacity 0.15s;
  width: 350px;
}

#log-in:hover {
  background-color: black;
  color: white;
}

#log-in:active {
  opacity: 0.7;
}

.heading {
  margin-top: 150px;
  margin-bottom: 0px;
  font-size: 60px;
  text-align: center;
}

.why-us {
  display: grid;
  width: 65%;
  grid-template-columns: 33% 33% 33%;
  margin: 0 auto;
}

.reason-block {
  /* margin-top: 25px;
  margin-bottom: 20px;
  width: 95%; */
  width: 30%;
  margin-top: 70px;
}

.icon {
  width: 50px;
  display: block;
}
.reason-title {
  display: block;
  font-family: Jersey, sans-serif;
  font-weight: bold;
}
.small-terms {
  margin-top: 5px;
  text-align: center;
  font-size: 15pxpx;
  color: gray;
}
#continue {
  background-image: linear-gradient(to right, #8AE7A9, #63BBA9);
  border-style: none;
  color: white;
  transition: opacity 0.15s;
  display: block;
  margin: 0 auto;
  width: 500px;
}

#continue:hover {
  opacity: 0.8;
}

#continue:active {
  opacity: 0.6;
}

.footer {
  background-color: #78C3A6; /* Match the green color */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 30px;
  height: 75px;
  font-family: "Jersey 25", serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-text h1 {
  margin: 0;
  font-size: 2em;
}

.footer-text p {
  margin: 5px 0 0;
  font-size: 1.2em;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.footer-icons .icon {
  width: 40px;  /* Set a fixed size for the icons */
  height: 40px;
  border-radius: 50%;  /* Optional: to match the rounded style */
}